body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FFDEE9, #B5FFFC);
    color: #333;
    text-align: center;
}

.background-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 10%, transparent 90%);
    z-index: -1;
}

/* Navbar */
.navbar {
    background-color: #eaeaf1;
    padding: 15px;
    text-align: right;
}

.navbar a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a:hover {
    background-color:#d2d3d4;
    border-radius: 5px;
}

/* Page Title */
.page-title {
    font-size: 36px;
    margin: 30px 0;
    color: #444;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    color: #555;
}

/* Certificate Gallery */
.certificate-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
    max-width: 1050px;
    margin: auto ;
}

.certificate-item {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-item img {
    width: 100%;
    height: auto ;
    border-radius: 5px;
}

.certificate-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certificate-item p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #666;
}
